<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="../../node_modules/vue/dist/vue.min.js"></script>
</head>
<body>
  <div id="lifecycle"></div>
  <script>
    var app = new Vue({
      el: '#lifecycle',
      template: '<div>'+
      '<h1 v-if="ok">Yes</h1><h1 v-else>No</h1><button @click="hideFunc">显示/隐藏</button>'+
      '<template v-if="ok">'+
        '<h1>Title</h1>'+
        '<p>Paragraph 1</p>'+
        '<p>Paragraph 2</p>'+
      '</template>'+ 
      '<div v-if="Math.random() > 0.5">Math.random() > 0.5</div>'+
      '<div v-else>Math.random() <= 0.5</div>'+
      '<div v-if="type === \'A\'">A</div>'+
      '<div v-else-if="type === \'B\'">B</div>'+
      '<div v-else-if="type === \'C\'">C</div>'+
      '<div v-else>Not A/B/C</div>'+
      '</div>',
      data: {
        ok: true,
        type: 'A'
      },
      methods: {
        hideFunc: function () {
          this.ok = !this.ok
        }
      }
    })
  </script>
</body>
</html>